<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li> Tél. {{ site.phone }}</li>
          <li> GSM Hélène MONTFORT {{ site.data.settings.gsm1 }}</li>
          <li> GSM Jérôme EVRARD {{ site.data.settings.gsm2 }}</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">

          {% for item in site.social %}
            <a href="{{ item.link }}" class="menu-link" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a>
          {% endfor %}

        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <footer class="footer">
          <div class="post-date">{{ site.tagline.en }} by {{ site.data.settings.author.name }}</div>
        </footer>
      </div>
    </div>

  </div>

</footer>
